@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Prompt:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Exo', sans-serif;
}

.quick-search-box, .quick-search-button {
    float: right;
}


header {
    height: 25em;
    width: 100%;
}

#hero-image {
    display: block;
    text-align: center;
    width: 100%;
    background:url("../images/stadium-hero-image.jpg") no-repeat left bottom;
    background-size: cover;
    position: relative;
}

#hero-image h2 {
    color: #fafafa;
    text-align: center;
    background-color: #0e0d0dd8;
    display: inline-block;
    padding-left: 10px;    
    padding-right: 10px;
    position: absolute;
    left: 65%;
    top: 20%;
    height: 6.2em;
    width: 7em;
}

.filter-by {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
    display:inline-block;
    width:180px;
}

.my-filter-buttons {

}

.filter {
    
}

.box-for-labels {
    height: 2em;
    /* width: 10em; */
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 0.2em;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;;
}
}

@media (max-width: 991px) {
    #hero-image h2 {
        font-size: 2em;
        height: 6.2em;
        top: 10%;
    }
}

@media (max-width: 767px) {
    #hero-image h2 {
        font-size: 1.5em;
        height: 6.2em;
        width: 6.3em;
        left: 55%;
        top: 10%;
    }
}