@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Prompt:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Exo', sans-serif;
}

.quick-search-box, .quick-search-button {
    float: right;
}


header {
    height: 25em;
    width: 100%;
}

#hero-image {
    display: block;
    text-align: center;
    width: 100%;
    background:url("../images/stadium-hero-image.jpg") no-repeat left bottom;
    background-size: cover;
    position: relative;
}

#hero-image h2 {
    color: #fafafa;
    text-align: center;
    background-color: #0101018e;
    display: inline-block;
    padding-left: 10px;    
    padding-right: 10px;
    position: absolute;
    left: 65%;
    top: 20%;
    height: 6.2em;
    width: 7em;
}

#filters {
    padding-top: 5px;
    background-color: #f8f9fa;
}

#filters .row {
    margin-right: 0;
    margin-left: -23px;
}

.filter-section {
    margin-top: 0.7em;
}

.odd {
    margin-left: 3%;
    margin-bottom: 0.2em;
}

.even {
    margin-left: 1%;
    margin-right:2%;
    margin-bottom: 0.2em;
}

.filter-input {
    font-family: 'Play';
    width: 46%;
    display: inline-block;
    font-size: small;
    padding: 5px;
    border-style: solid;
    border-color: rgb(29, 30, 31);
    border-width: 1px;
    border-radius: 4px;
    line-height: 1.5em;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inline-div {
    /* font-size: small; */
    /* padding-right: 20px;
    border: 0;
    margin-right: 20px; */
    display:inline-block;
    /* width: 100%; */
    height: 1.5em;
    padding-left: 0;
    
}

.filter-box {
    margin-bottom: 3px;
}



@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;;
}
}

@media (max-width: 991px) {
    #hero-image h2 {
        font-size: 2em;
        height: 6.2em;
        top: 10%;
    }
}

@media (max-width: 767px) {
    #hero-image h2 {
        font-size: 1.5em;
        height: 6.2em;
        width: 6.3em;
        left: 55%;
        top: 10%;
    }
}

@media (min-width: 768px) {
    .filter-input {
        width: 32%;
    }
    .odd {
        margin-left: 0;
    }
    .even {
        margin-right: 0;
        margin-left: 0;
    }
    .filter-section {
        margin-left: 3%;
    }

}